<div class="posts-display">
  <div>
    <a href="/posts/{{id}}">
      <div class="posts-title">
          <p>{{title}}</p>
      </div>
    </a>
    <div>
      <p class="posts-spacing">Author: {{user.name}}</p>
      <p class="posts-spacing">{{content}}</p>
    </div>
  </div>
</div>