<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Website</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special+Elite">
</head>

<body id="content-width">
  <div>
    <header>
      <h1 id='website-logo'>
        <a href="/">Tech Blog</a>
      </h1>
      <nav class="navbar">
        <ul><a href="/">Home</a></ul>
        {{#if logged_in}}
          <ul><a href="/dashboard">Dashboard</a></ul>
          <ul><button class="no-button" id="logout">Logout</button></ul>
            <ul><a href="/posts"><button class="no-button">Add Post</button></a></ul>
        {{else}}
          <ul><a href="/login">Login</a></ul>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script> 
  {{/if}}
</body>

</html>
