<div>
  <div>
    <p>
      You have reached the dashboard, {{name}}. Here you can see all of the posts by every user.
    </p>
    <div>
      {{#each posts as |post|}}
      {{> posts-display}}
      {{/each}}
    </div>
  </div>
</div>

