    <form class="create-post">
      <div>
        <label for="New Post">Title</label>
        <input id="title"/>
      </div>
      <div>
        <label for="body">Contents</label>
        <input id="content"/>
      </div>
      <div>
        <button type="submit">Add New Post</button>
      </div>
    </form>


<script src="/js/createPost.js"></script> 