<div>
  <h2>
    Add a New Post:
  </h2>
  <form class="create-post">
    <div class="update-post-spacing">
      <label for="New Post">Title</label>
      <input id="title"/>
    </div>
    <div class="update-post-spacing">
      <label for="body">Contents</label>
      <input id="content"/>
    </div>
    <div class="update-post-spacing">
      <button class="no-button bold" type="submit">Add New Post</button>
    </div>
  </form>
</div>


<script src="/js/createPost.js"></script> 