
<div>
    {{title}}
</div>
<div>
    {{user.name}}
</div>
<div>
    {{content}}
</div>
<p>
    {{#each comments as |comment|}}
    {{> comments-display}}
    {{/each}}
</p>

{{!-- <div>
<form class="create-comment">
    <div>
        <label for="Comment">Comment:</label>
        <input id="comment"/>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
</div>

<div>
<form class="delete-post">
    <button type="submit">Delete Post</button>
</form>
</div> --}}

<div>
<form>
    <a href="/updatepost/{{id}}">Update Post</a>   
</form>
</div>

{{!-- <script src="/js/updatePost.js"></script> --}}
{{!-- <script src="/js/createComment.js"></script> 
<script src="/js/deletePost.js"></script> --}}





