<div>
    <h2>Update Post</h2>
    <form class="update-post">
        <div class="update-post-spacing">
            <label for="title">Title:</label>
            <input type="text" id="title" value="{{title}}"></input>
        </div>
        <div class="update-post-spacing">
            <label for="content">Content:</label>
            <input type="text" id="content" value="{{content}}"></input>
        </div>
        <div class="update-post-spacing">
            <button class="no-button bold" type="submit">Update Post</button>
        </div>
    </form>
</div>

<script src="/js/updatePost.js"></script>